<div class="container">
    <div class="row">
    <% @todos.each_slice(4) do |row| %>
        <% row.each do |todo| %>
            <div class="col">
                <div class="card">
                    <%= image_tag todo.photo, class: 'card-img-top' %>
                    <div class="body">
                    <h5> <%= todo.name %> </h5>
                    <p> <%=todo.task %> </p>
                    <%= link_to "Hecho", todo_completeds_path(todo), class: 'btn btn-success', method: :post %>
                </div>                 
                </div> 
            </div>
          <% end %>
          <div class="w-100" style="margin-top:20px"> </div>  
    <% end %>
    </div>
</div>